body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#product img {
    width: 300px;
    height: auto;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
}
